.MobileArrow{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 13px;
  min-width: 13px;
  height: 35px;
  background: url('../../public/image/InterestEventRowMobile/arrow.png') no-repeat center center / contain;
}