@import "style/Variables";

.MobileInterestEventBig {
  width: 100%;

  .MobileInterestEventBig_ImageDiv {
    width: 100%;
    height: 170px;
    background-color: $GreyColor;
  }

  .MobileInterestEventBig_InformationBlock {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 11px 13px;

    .MobileInterestEventBig_InformationWrapper {
      margin-right: 30px;

      .MobileInterestEventBig_InformationText {
        margin-top: 10px;
      }

      .MobileInterestEventBig_AboutEvent {
        display: flex;
        margin-top: 10px;
      }
    }
  }
}